.pageContainer {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.equipmentTable {
  width: 100%;
}

.equipmentTable thead {
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.05);
}

.equipmentTable thead tr {
  font-weight: 700;
}

.equipmentTable tr {
  height: 35px;
  font-weight: 300;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.equipmentTable tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
