.header {
  background-color: #f5870d;
  height: 45px;
}

.menu-item {
  margin-right: 20px;
  text-decoration: none;
  float: left;
}

.menu-item:hover {
  text-decoration: none;
}

.menu-item div,
img {
  color: white;
  font-weight: 300;
  text-decoration: none;
  float: left;
}

.menu-item span:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.menu-item.active .menu-text {
  font-weight: bolder;
}

.menu-item.active .menu-selector {
  background-color: white;
  border-radius: 0px 0px 3px 3px;
}

.menu-selector {
  height: 5px;
  width: 100%;
}

.menu-text {
  padding-top: 10px;
  font-size: 13px;
  font-family: "PT Sans", "arial", sans-serif;
}

.logo {
  padding-top: 5px;
  margin-left: 10px;
}

.headerImg {
  position: absolute;
  top: 5px;
  right: 20px;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  background: white;
}

.headerImg:hover {
   cursor: pointer;
}

.lookupWrapper {
  position: absolute;
  top: 50px;
  right: 5px;
  width: 150px;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #1c1627;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 1px 2px 8px 0 rgba(12, 0, 51, 0.3);
  outline: none;
}

.lookupWrapper div {
  position: relative;
  bottom: 8px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
}

.lookupWrapper div p {
  position: relative;
  right: 30px;
}

.lookupWrapper div:hover {
   background: #EEEEEE;
   cursor: pointer;
}

.logOutIcon {
  height: 14px;
  position: relative;
  top: 5px;
  width: 17px;
  color: #999999;
}
