.header {
  background-color: #f5870d;
  height: 45px;
}

.menuItem {
  margin-right: 20px;
  text-decoration: none;
  float: left;
}

.menuItem:hover {
  text-decoration: none;
}

.menuItem div,
img {
  color: white;
  font-weight: 300;
  text-decoration: none;
  float: left;
}

.menuItem span:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.menuItem.active .menuText {
  font-weight: bolder;
}

.menuItem.active .menuSelector {
  background-color: white;
  border-radius: 0px 0px 3px 3px;
}

.menuSelector {
  height: 5px;
  width: 100%;
}

.menuText {
  padding-top: 10px;
  font-size: 13px;
  font-family: "PT Sans", "arial", sans-serif;
}

.logo {
  padding-top: 5px;
  margin-left: 10px;
}
