.formContainer {
  width: 50%;
  margin: auto;
}

.formContainer tr {
  height: 70px;
}

.formContainer table,
input {
  width: 100%;
  border-spacing: 30px 0;
}

.formContainer .dynamicSelect {
  width: 100%;
  height: 43px;
}

.formContainer input {
  width: 100%;
  height: 33px;
}

.formContainer span {
  float: left;
  font-size: 14px;
  font-style: italic;
}

.formContainer div {
  font-size: 14px;
  font-style: italic;
}
.formContainer td div {
  text-align: left;
}

.button {
  width: 30% !important;
  margin-right: 10px;
  height: 33px;
  float: left;
}
